{"openapi": "3.0.1", "info": {"title": "Content Management APIs"}, "servers": [{"url": "https://dev1-coresvcs.amds.dell.com/contentmgmt", "description": "Updated server url"}], "paths": {"/api/v1/package/{id}": {"get": {"tags": ["package-metadata-resource"], "summary": "Get Package Metadata for a given id (Deprecated - Use GET /api/v1/package/getbyids instead.)", "operationId": "get_1", "parameters": [{"name": "id", "in": "path", "description": "Package Metadata ID", "required": true, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "404": {"description": "Metadata Not Found"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata Get", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}, "deprecated": true}, "put": {"tags": ["package-metadata-resource"], "summary": "Update Package Metadata ", "operationId": "update", "parameters": [{"name": "id", "in": "path", "description": "Package Metadata ID", "required": true, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata Updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}}}, "/api/v1/package/updatestate": {"put": {"tags": ["package-metadata-resource"], "summary": "Enable or Disable Package(s)", "operationId": "updateState", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateRequestDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package(s) enabled/disabled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateResponseDTO"}}}}}}}, "/api/v1/contentfile/{id}": {"get": {"tags": ["content-file-resource"], "summary": "Get content file for a given id (Deprecated - Use GET /api/v1/contentfile/getbyids instead.)", "operationId": "get_2", "parameters": [{"name": "id", "in": "path", "description": "Content File ID", "required": true, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Content File sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "400": {"description": "Bad request"}, "404": {"description": "File Not Found"}}, "deprecated": true}, "put": {"tags": ["content-file-resource"], "summary": "Update Content File Metadata", "operationId": "update_1", "parameters": [{"name": "id", "in": "path", "description": "Content File ID", "required": true, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "501": {"description": "Storage is not enough"}, "400": {"description": "Bad request"}, "200": {"description": "Content File updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}}}}, "/api/v1/contentfile/updatestate": {"put": {"tags": ["content-file-resource"], "summary": "Enable or Disable content file(s)", "operationId": "updateState_1", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateRequestDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package(s) enabled/disabled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateResponseDTO"}}}}}}}, "/api/v1/catalog/{id}": {"get": {"tags": ["catalog-resource"], "summary": "Get Catalog for a given id (Deprecated - Use GET /api/v1/catalog/getbyids instead.)", "operationId": "get_3", "parameters": [{"name": "id", "in": "path", "description": "Catalog ID", "required": true, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}, "deprecated": true}, "put": {"tags": ["catalog-resource"], "summary": "Update Catalog ", "operationId": "update_2", "parameters": [{"name": "id", "in": "path", "description": "Catalog ID", "required": true, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Catalog Updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}, "400": {"description": "Bad request"}}}}, "/api/v1/catalog/updatestate": {"put": {"tags": ["catalog-resource"], "summary": "Enable or Disable Catalog(s)", "operationId": "updateState_2", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateRequestDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog(s) enabled/disabled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateResponseDTO"}}}}}}}, "/api/v1/updateFields": {"post": {"tags": ["update-resource"], "summary": " fields to Update", "operationId": "updateDTO", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "string"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}}}, "/api/v1/token/issue": {"post": {"tags": ["token-resource"], "operationId": "generateAndAuthenticate", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"type": "string"}}}}}}}, "/api/v1/search/verification": {"post": {"tags": ["search-resource"], "summary": "Search in DTO", "operationId": "searchVerification", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "string"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Verification created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VerificationDTO"}}}}}}}, "/api/v1/search/package": {"post": {"tags": ["search-resource"], "summary": "Search in DTO", "operationId": "searchPackageMetadata", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "string"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Catalog created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}, "400": {"description": "Bad request"}}}}, "/api/v1/search/contentfile": {"post": {"tags": ["search-resource"], "summary": "Search in DTO", "operationId": "searchContentFile", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "string"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}}}}, "/api/v1/search/catalog": {"post": {"tags": ["search-resource"], "summary": "Search in DTO", "operationId": "searchCatalog", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "string"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}}}, "/api/v1/package": {"post": {"tags": ["package-metadata-resource"], "summary": "Create Package Metadata", "operationId": "create", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Package Metadata created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}, "400": {"description": "Bad request"}}}, "delete": {"tags": ["package-metadata-resource"], "summary": "Delete Package Metadata for given ids", "operationId": "bulkDelete", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "404": {"description": "Metadata Not Found"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata deleted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}}}, "/api/v1/package/getall/{serviceProviderId}": {"post": {"tags": ["package-metadata-resource"], "summary": "Get all Package Metadatas as service provider user (Deprecated - Use POST /api/v1/MSP/package/getall instead.)", "operationId": "serviceProviderGetAll", "parameters": [{"name": "serviceProviderId", "in": "path", "description": "service provider id", "required": true, "schema": {"type": "string"}}, {"name": "PageNumber", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "PageSize", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServiceProviderGetAllDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}, "deprecated": true}}, "/api/v1/contentfile": {"post": {"tags": ["content-file-resource"], "summary": "Create Content File Metadata", "operationId": "create_1", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "200": {"description": "Content File Uplaoded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "500": {"description": "Internal Server Error"}, "501": {"description": "Storage is not enough"}, "400": {"description": "Bad request"}}}, "delete": {"tags": ["content-file-resource"], "summary": "Delete Content File metadata for given ids", "operationId": "bulkDelete_1", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "200": {"description": "Catalog deleted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateResponseDTO"}}}}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}}}}, "/api/v1/contentfile/getall/{serviceProviderId}": {"post": {"tags": ["content-file-resource"], "summary": "Get all content files as service provider user (Deprecated - Use POST /api/v1/MSP/contentfile/getall instead.)", "operationId": "serviceProviderGetAll_1", "parameters": [{"name": "serviceProviderId", "in": "path", "description": "service provider id", "required": true, "schema": {"type": "string"}}, {"name": "PageNumber", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "PageSize", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServiceProviderGetAllDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Content File List Sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "400": {"description": "Bad request"}}, "deprecated": true}}, "/api/v1/catalog": {"post": {"tags": ["catalog-resource"], "summary": "Create Catalog", "operationId": "create_2", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}}, "delete": {"tags": ["catalog-resource"], "summary": "Delete Catalog(s) for given ids ", "operationId": "bulkDelete_2", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "200": {"description": "Catalog deleted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateStateResponseDTO"}}}}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}}}}, "/api/v1/catalog/getall/{serviceProviderId}": {"post": {"tags": ["catalog-resource"], "summary": "Get all catalogs as service provider user (Deprecated - Use POST /api/v1/MSP/catalog/getall instead.)", "operationId": "serviceProviderGetAll_2", "parameters": [{"name": "serviceProviderId", "in": "path", "description": "service provider id", "required": true, "schema": {"type": "string"}}, {"name": "PageNumber", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "PageSize", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServiceProviderGetAllDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}, "deprecated": true}}, "/api/v1/MSP/package/getall": {"post": {"tags": ["package-metadata-resource"], "summary": "Get all Package Metadatas as service provider user (use this API when requested tenants and groupIds list is huge)", "operationId": "getAllMSP", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "PageNumber", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "PageSize", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServiceProviderGetAllDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}}}, "/api/v1/MSP/contentfile/getall": {"get": {"tags": ["content-file-resource"], "summary": "Get all content files with catalog as service provider user (Deprecated - Use GET /api/v1/contentfile/getall instead because getall API response now includes catalogs.)", "operationId": "getAllForMSPWithCatalog", "parameters": [{"name": "includeTenant", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "self", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "tenants", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "groupIds", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Content File List Sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "400": {"description": "Bad request"}}, "deprecated": true}, "post": {"tags": ["content-file-resource"], "summary": "Get all content files with catalog as service provider user (use this API when requested tenants and groupIds list is huge)", "operationId": "getAllMSP_1", "parameters": [{"name": "PageNumber", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "PageSize", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServiceProviderGetAllDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Content File List Sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "400": {"description": "Bad request"}}}}, "/api/v1/MSP/catalog/getall": {"post": {"tags": ["catalog-resource"], "summary": "Get all catalogs as service provider user (use this API when requested tenants and groupIds list is huge)", "operationId": "getAllMSP_2", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "PageNumber", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "PageSize", "in": "query", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServiceProviderGetAllDTO"}}}, "required": true}, "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}}}, "/build": {"get": {"tags": ["build-info-resource"], "operationId": "get", "parameters": [{"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/JsonNode"}}}}}}}, "/api/v1/verification/package/{id}": {"get": {"tags": ["verification-resource"], "summary": "Get a list of verifications for a packagemetadata id", "operationId": "getByPkgId", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "id", "in": "path", "description": "Package Metadata ID", "required": true, "schema": {"type": "string"}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Verification list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VerificationDTO"}}}}}}}, "/api/v1/verification/getbyids": {"get": {"tags": ["verification-resource"], "summary": "Get a list of verifications for a set of ids", "operationId": "getByIds", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Verification list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VerificationDTO"}}}}}}}, "/api/v1/package/getbyids": {"get": {"tags": ["package-metadata-resource"], "summary": "Get a list of Package Metadata for a set of ids", "operationId": "getByIds_1", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}}}, "/api/v1/package/getall": {"get": {"tags": ["package-metadata-resource"], "summary": "Get all Package Metadatas", "operationId": "getAll", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "includeTenant", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "self", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "tenants", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "groupIds", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}}}, "/api/v1/package/filtered": {"get": {"tags": ["package-metadata-resource"], "summary": "Get a list of Package Metadata for a set of ids (Deprecated - Use GET /api/v1/package/getbyids instead.)", "operationId": "filtered", "parameters": [{"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}, "deprecated": true}}, "/api/v1/package/catalog/{id}": {"get": {"tags": ["package-metadata-resource"], "summary": "Get a list of Package Metadata for a catalog id", "operationId": "getByCatalogId", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "id", "in": "path", "description": "Catalog ID", "required": true, "schema": {"type": "string"}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Package Metadata list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackageMetadataDTO"}}}}}}}, "/api/v1/contentfile/type/{type}": {"get": {"tags": ["content-file-resource"], "summary": "Get all content files by type", "operationId": "getAllByType", "parameters": [{"name": "type", "in": "path", "description": "Content File Type", "required": true, "schema": {"type": "string"}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Content File List Sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "400": {"description": "Bad request"}}}}, "/api/v1/contentfile/package/{id}": {"get": {"tags": ["content-file-resource"], "summary": "Get a list of content files for a packageId", "operationId": "getByPkgId_1", "parameters": [{"name": "id", "in": "path", "description": "Package Metadata ID", "required": true, "schema": {"type": "string"}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Content file list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}}}}, "/api/v1/contentfile/getbyids": {"get": {"tags": ["content-file-resource"], "summary": "Get a list of content files for a set of ids", "operationId": "getByIds_2", "parameters": [{"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Content file list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}}}}, "/api/v1/contentfile/getall": {"get": {"tags": ["content-file-resource"], "summary": "Get all content files", "operationId": "getAll_1", "parameters": [{"name": "includeTenant", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "self", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "tenants", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "groupIds", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Content File list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}}}}, "/api/v1/contentfile/filtered": {"get": {"tags": ["content-file-resource"], "summary": "Get a list of content files for a set of ids (Deprecated - Use GET /api/v1/contentfile/getbyids instead.)", "operationId": "filtered_1", "parameters": [{"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Content file list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}}, "deprecated": true}}, "/api/v1/catalog/getbyids": {"get": {"tags": ["catalog-resource"], "summary": "Get a list of catalogs for a set of ids", "operationId": "getByIds_3", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "page", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}}}, "/api/v1/catalog/getall": {"get": {"tags": ["catalog-resource"], "summary": "Get all catalogs", "operationId": "getAll_2", "parameters": [{"name": "response", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "includeTenant", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "self", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "tenants", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "groupIds", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}}}, "/api/v1/catalog/filtered": {"get": {"tags": ["catalog-resource"], "summary": "Get a list of catalogs for a set of ids (Deprecated - Use GET /api/v1/catalog/getbyids instead.)", "operationId": "filtered_2", "parameters": [{"name": "ids", "in": "query", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "400": {"description": "Bad request"}, "200": {"description": "Catalog list sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CatalogDTO"}}}}}, "deprecated": true}}, "/api/v1/MSP/contentfile/type": {"get": {"tags": ["content-file-resource"], "summary": "Get all content files by type as service provider user", "operationId": "getAllByTypeMSP", "parameters": [{"name": "type", "in": "query", "required": true, "schema": {"type": "string"}}, {"name": "includeTenant", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "self", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "tenants", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "groupIds", "in": "query", "required": false, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "pageable", "in": "query", "required": true, "schema": {"$ref": "#/components/schemas/Pageable"}}, {"name": "x-tenant-id", "in": "header", "description": "Tenant id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-service-id", "in": "header", "description": "Service id header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-grants", "in": "header", "description": "Grants header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}, {"name": "x-parent-tenant-id", "in": "header", "description": "Parent Tenant id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-user-id", "in": "header", "description": "User id header to be passed when auth is disabled", "required": false, "schema": {"type": "string"}}, {"name": "x-aud", "in": "header", "description": "Audience header to be passed when auth is disabled", "required": true, "schema": {"type": "string"}}], "responses": {"403": {"description": "A pre-condition failed"}, "500": {"description": "Internal Server Error"}, "200": {"description": "Content File List Sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentFileDTO"}}}}, "400": {"description": "Bad request"}}}}}, "components": {"schemas": {"ContentFileDTO": {"required": ["description", "name"], "type": "object", "properties": {"id": {"maxLength": 36, "minLength": 0, "type": "string"}, "tenant": {"maxLength": 36, "minLength": 0, "type": "string"}, "version": {"type": "integer", "format": "int64"}, "createdOn": {"type": "integer", "format": "int64", "readOnly": true}, "updatedOn": {"type": "integer", "format": "int64", "readOnly": true}, "parentTenant": {"type": "string", "description": "id of the parent Tenant"}, "serviceId": {"type": "string", "description": "id of the service"}, "name": {"maxLength": 1024, "minLength": 1, "pattern": "^[^<>:?\"*|\\/\\\\]+$", "type": "string", "description": "Name of the Content File"}, "groupId": {"pattern": "^(?:([a-f0-9]{24}))?$", "type": "string", "description": "id of the group"}, "fileVersion": {"type": "string", "description": "file version number"}, "type": {"type": "string", "description": "Type of the File", "enum": ["APPLICATION", "WALLPAPER", "LOGO", "COMMAND", "MSBASELINE", "QFE", "FILE", "REPORT"]}, "checksum": {"pattern": "^(?:([a-f0-9]{128}))?$", "type": "string", "description": "Calculated checksum"}, "size": {"type": "integer", "description": "Calculated size", "format": "int64"}, "url": {"pattern": "[^\\\\:*?\"<>|\\r\\n]+", "type": "string", "description": "URL of the Azure datastore"}, "description": {"maxLength": 1024, "minLength": 1, "type": "string", "description": "Description of file"}, "uploadedBy": {"type": "string", "description": "Type of the uploader, Customer Admin,Service Provider Admin etc.", "enum": ["CUSTOMER_ADMIN", "SERVICEPROVIDER_ADMIN"]}, "uploadedAdminId": {"type": "string", "description": "Id of the uploader"}, "uploadAdminEmail": {"type": "string", "description": "Email address of the uploader"}, "windowsVersion": {"type": "string", "description": "version of the windows"}, "osBuildVersion": {"type": "string", "description": "version of OS build"}, "tags": {"maxItems": 10, "minItems": 0, "type": "array", "description": "list of tags", "items": {"type": "string", "description": "list of tags"}}, "deleted": {"type": "boolean", "description": "deleted flag for soft delete"}, "enabled": {"type": "boolean", "description": "flag for enable/disable"}, "repoType": {"type": "integer", "description": "File repo type", "format": "int64"}, "imageType": {"type": "integer", "description": "File image type", "format": "int64"}, "parentTenantIdFolder": {"type": "string", "description": "Folder for parentTenantId"}, "tenantIdFolder": {"type": "string", "description": "Folder for tenantId"}, "catalogs": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "verifications": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "packages": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "isCustomerCreated": {"type": "boolean", "description": "flag if current user created the content file"}}, "description": "List of un-install command file references"}, "ObjectRefDTO": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}}}, "PackageMetadataDTO": {"required": ["installerName", "installerVersion"], "type": "object", "properties": {"id": {"maxLength": 36, "minLength": 0, "type": "string"}, "tenant": {"maxLength": 36, "minLength": 0, "type": "string"}, "version": {"type": "integer", "format": "int64"}, "createdOn": {"type": "integer", "format": "int64", "readOnly": true}, "updatedOn": {"type": "integer", "format": "int64", "readOnly": true}, "parentTenant": {"type": "string", "description": "id of the parent Tenant"}, "serviceId": {"type": "string", "description": "id of the service"}, "installerName": {"type": "string", "description": "Name of installer"}, "groupId": {"pattern": "^(?:([a-f0-9]{24}))?$", "type": "string", "description": "id of the group"}, "icon": {"$ref": "#/components/schemas/ContentFileDTO"}, "installerFile": {"$ref": "#/components/schemas/ContentFileDTO"}, "installerVersion": {"type": "string", "description": "Version of installer"}, "osReboot": {"type": "boolean", "description": "Osreboot required"}, "betaVersion": {"type": "boolean", "description": "Beta version boolean flag"}, "installUninstallTimeout": {"type": "string", "description": "Install/Uninstall  time out"}, "installCommand": {"type": "string", "description": "Install command"}, "preInstallVerifications": {"type": "array", "description": "List of pre-install verifications", "items": {"$ref": "#/components/schemas/VerificationDTO"}}, "installCommandFiles": {"type": "array", "description": "List of install command file references", "items": {"$ref": "#/components/schemas/ContentFileDTO"}}, "installVerifications": {"type": "array", "description": "List of install verifications", "items": {"$ref": "#/components/schemas/VerificationDTO"}}, "preUninstallVerifications": {"type": "array", "description": "List of pre-uninstall verifications", "items": {"$ref": "#/components/schemas/VerificationDTO"}}, "uninstallCommand": {"type": "string", "description": "Un-install command"}, "uninstallCommandFiles": {"type": "array", "description": "List of un-install command file references", "items": {"$ref": "#/components/schemas/ContentFileDTO"}}, "uninstallVerifications": {"type": "array", "description": "List of un-install verifications", "items": {"$ref": "#/components/schemas/VerificationDTO"}}, "uploadedAdminId": {"type": "string", "description": "Id of the uploader"}, "enabled": {"type": "boolean", "description": "flag for enable/disable"}, "type": {"type": "integer", "description": "PackageMetadata type", "format": "int32"}, "policies": {"maxItems": 2147483646, "minItems": 0, "type": "array", "description": "list of policies assigned", "items": {"type": "string", "description": "list of policies assigned"}}, "catalogs": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "isCustomerCreated": {"type": "boolean", "description": "flag if current user created the package metadata"}}}, "VerificationDTO": {"required": ["operator", "value", "verificationType"], "type": "object", "properties": {"id": {"maxLength": 36, "minLength": 0, "type": "string"}, "tenant": {"maxLength": 36, "minLength": 0, "type": "string"}, "version": {"type": "integer", "format": "int64"}, "createdOn": {"type": "integer", "format": "int64", "readOnly": true}, "updatedOn": {"type": "integer", "format": "int64", "readOnly": true}, "verificationType": {"type": "string", "description": "Type of the verification like Registry Key,FileName,Folder,Exitcode", "enum": ["REGISTRKEY", "FILENAME", "FOLDER", "SERVICE", "EXITCODE", "CUSTOMSCRIPT"]}, "parentTenant": {"type": "string", "description": "id of the parent Tenant"}, "operator": {"type": "string", "description": "Type of the verification like Registry Key,FileName,Folder,Exitcode", "enum": ["EXISTS", "DOESNOTEXISTS"]}, "value": {"type": "string", "description": "Value for verification"}, "serviceScript": {"$ref": "#/components/schemas/ContentFileDTO"}, "scriptOutput": {"type": "string", "description": "Output of script"}, "state": {"type": "string", "description": "State of service script", "enum": ["CONTINUEPENDING", "PAUSED", "PAUSEPENDING", "STARTPENDING", "STOPPENDING", "RUNNING", "STOPPED", "EXISTS", "DOESNOTEXIST"]}, "uploadedAdminId": {"type": "string", "description": "Id of the uploader"}, "catalogs": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "packages": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "isCustomerCreated": {"type": "boolean", "description": "flag if current user created the verification"}}, "description": "List of un-install verifications"}, "UpdateStateRequestDTO": {"type": "object", "properties": {"enableIds": {"type": "array", "description": "list of catalog ids to enable", "items": {"type": "string", "description": "list of catalog ids to enable"}}, "disableIds": {"type": "array", "description": "list of catalog ids to disable", "items": {"type": "string", "description": "list of catalog ids to disable"}}}}, "UpdateStateResponseDTO": {"type": "object", "properties": {"results": {"type": "array", "description": "list of catalog ids and their http status codes", "items": {"$ref": "#/components/schemas/UpdateStateStatusDTO"}}}}, "UpdateStateStatusDTO": {"type": "object", "properties": {"id": {"type": "string", "description": "id"}, "name": {"type": "string", "description": "name"}, "success": {"type": "boolean", "description": "Status of attempted state update"}}, "description": "list of catalog ids and their http status codes"}, "CatalogDTO": {"required": ["name"], "type": "object", "properties": {"id": {"maxLength": 36, "minLength": 0, "type": "string"}, "tenant": {"maxLength": 36, "minLength": 0, "type": "string"}, "version": {"type": "integer", "format": "int64"}, "createdOn": {"type": "integer", "format": "int64", "readOnly": true}, "updatedOn": {"type": "integer", "format": "int64", "readOnly": true}, "parentTenant": {"type": "string", "description": "id of the parent Tenant"}, "serviceId": {"type": "string", "description": "id of the service"}, "name": {"maxLength": 1024, "minLength": 1, "pattern": "^[^<>:?\"*|\\/\\\\]+$", "type": "string", "description": "name of the catalog"}, "catalogApplications": {"maxItems": 25, "minItems": 0, "type": "array", "description": "list of packages inside catalog", "items": {"$ref": "#/components/schemas/PackageMetadataDTO"}}, "uploadedAdminId": {"type": "string", "description": "Id of the uploader"}, "tags": {"maxItems": 10, "minItems": 0, "type": "array", "description": "list of tags", "items": {"type": "string", "description": "list of tags"}}, "enabled": {"type": "boolean", "description": "flag for enable/disable"}, "groupId": {"pattern": "^(?:([a-f0-9]{24}))?$", "type": "string", "description": "id of the group"}, "contentFiles": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "verifications": {"type": "array", "items": {"$ref": "#/components/schemas/ObjectRefDTO"}}, "isCustomerCreated": {"type": "boolean", "description": "flag if current user created the catalog"}}}, "ServiceProviderGetAllDTO": {"type": "object", "properties": {"includeTenant": {"maxLength": 256, "minLength": 0, "type": "string", "description": "string to return tenant objects"}, "self": {"maxLength": 256, "minLength": 0, "type": "string", "description": "string to return parent tenant objects"}, "tenants": {"maxItems": 2147483647, "minItems": 1, "type": "array", "description": "list of entity tenants to return", "items": {"type": "string", "description": "list of entity tenants to return"}}, "groupIds": {"maxItems": 2147483647, "minItems": 1, "type": "array", "description": "list of entity group ids to return", "items": {"type": "string", "description": "list of entity group ids to return"}}}}, "JsonNode": {"type": "object"}, "Pageable": {"type": "object", "properties": {"page": {"minimum": 0, "type": "integer", "format": "int32"}, "size": {"minimum": 1, "type": "integer", "format": "int32"}, "sort": {"type": "array", "items": {"type": "string"}}}}}}}